<% if @restaurant.errors.any? %>
<ul>
  <% @restaurant.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>


<%= form_for @restaurant do |f| %>
  <%= f.label :name, "Name of the Restaurant"  %>
  <%=f.text_field :name%>
  <%= f.label :address, "Address of the Restaurant"  %>
  <%=f.text_field :address%>
  <%= f.label :rating, "rating of the Restaurant"  %>
  <%=f.text_field :rating%>
  <%=f.submit%>
<% end %>
